# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
out/artifacts/*
out/*
/.idea/dataSources/eea678bd-0d4d-4bd6-aa75-243905c2a455.xml
/.idea/dataSources/eea678bd-0d4d-4bd6-aa75-243905c2a455.xml
/.idea/dataSources/eea678bd-0d4d-4bd6-aa75-243905c2a455.xml
/.idea/dataSources/eea678bd-0d4d-4bd6-aa75-243905c2a455/storage_v2/_src_/schema/mydb.Kl8zAA.meta
/.idea/libraries/servlet_api.xml
/.idea/dataSources/eea678bd-0d4d-4bd6-aa75-243905c2a455.xml
/.idea/libraries/mysql_connector_java_5_1_45_bin.xml
/.idea/libraries/tomcat_jdbc.xml
/.idea/misc.xml
/.idea/workspace.xml
/out/artifacts/web_war_exploded/AddPost.jsp
/out/artifacts/web_war_exploded/EditPost.jsp
/out/artifacts/web_war_exploded/Index.jsp
/out/artifacts/web_war_exploded/Posts.jsp
/out/artifacts/web_war_exploded/WEB-INF/classes/datasource/abs/PostDataSource.class
/out/artifacts/web_war_exploded/WEB-INF/classes/datasource/src/PostSource.class
/out/artifacts/web_war_exploded/WEB-INF/classes/LoginServlet.class
/out/artifacts/web_war_exploded/WEB-INF/classes/model/Post.class
/out/artifacts/web_war_exploded/WEB-INF/classes/PostServlet.class
/out/artifacts/web_war_exploded/WEB-INF/lib/tomcat-jdbc.jar
/out/artifacts/web_war_exploded/WEB-INF/web.xml
/out/production/TestServlet/datasource/abs/PostDataSource.class
/out/production/TestServlet/datasource/src/PostSource.class
/out/production/TestServlet/LoginServlet.class
/out/production/TestServlet/model/Post.class
/out/production/TestServlet/PostServlet.class
/TestServlet.iml
