.file-input .file-drop-zone {
    min-height: 100px;
    height: auto;
}

.file-input .input-group-btn {
    display: block;
}

/*img.edit-profile {
    min-height: 100px;
    height: auto;
}*/

.btn:hover, .btn:focus, .btn {
    cursor: pointer;
}
table.table-hover .btn {
    display: block;
}
.navbar .navbar-brand i {
    font-size: 45px;
    margin: 0 15px 0 0;
}
.navbar .navbar-brand span {
    top: -9px;
    position: relative;
}
.nounderline {
    text-decoration: none;
}
.nounderline:hover {
    text-decoration: none;
}
.posts-header {
    opacity: 0.92;
}