

* {
    box-sizing: border-box;
}



#cardwrap{
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}

#cardwrap::after{
    content: "";
    clear: both;
    display: table;
}

#cardwrap img{
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

#cardwrap span{
    font-size: 15px;
    margin-right: 15px;
}


.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.blockposts{
    height: 300px;
    width: 350px;
    background: #fff;
    border-radius: 5px;
}
