

* {
    margin: 0;
    padding: 0;
}
body{

}
.bghead{

    margin: 0;
    padding: 0;
    height: 1500px;
    background-image: linear-gradient(-10deg, #fff 0%,#fff 50.9%,#3690f0 51%,#1e69de 100%);

}
#namepage{
    text-align: center;
    font-weight: 500;
    font-size: 150px;
    color: #fff;
    padding-top: 50px;
}
.card {
    width: 550px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container{
    width: 980px;
    background: #3690F0;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.containerpost{
    width: 600px;
    background: #3690F0;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}


.content{
    text-align: center;
}
.contentpost{
    text-align: justify;
}

.card{
    width: 420px;
    height: 200px;
    padding: 20px;
    background-image: linear-gradient(-25deg, #1e69de 0%,#1e69de 50.9%,#3690f0 51%,#1e69de 100%);
    margin-bottom: 5px;
    display: inline-block;
}

.cardpost{
    background-image: linear-gradient(-25deg, #1e69de 0%,#1e69de 50.9%,#3690f0 51%,#1e69de 100%);
    display: inline-block;
    width: 550px;
    height: 150px;
    padding: 20px;
    margin-bottom: 20px;


}

.card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.card img:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


.txt {
    vertical-align: top;
    display: inline-block;
    color: #fff;
    width: 150px;

}
.txtpost{
    display: block;
    vertical-align: middle;
    color: #fff;
    width:500px;
    padding-left: 3%;

}
ul li{
    display: inline-block;
    color: #fff;
}

ul#postinfo  {
    display: block;
    padding: 12px 0;
    margin: 0 0 29px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.333;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
    max-width: 100%;
}





